@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: white;
}

body {

    background-color: #000;

    background-image: 
    linear-gradient(135deg, #3B38A0, #1A2A80, #001f3f, #000 50%,
    #001f3f,#1A2A80, #3B38A0);
    background-repeat: no-repeat;
}

.main {
    margin: .5rem;
    padding: .5rem;
    border: 1px solid #FFF;
    border-radius: 1rem;

}

@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before, .main::after {
        width: 70vw
    }
}

