.content .skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.content .skills div {
    width: 100%;
}

.content .skills .hard {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.hard {
    list-style: none;
}

.hard li img {
    width: 4.75rem;
}

.soft li {
    margin-bottom: .5rem;
}

@media screen and (min-width: 768px) {
    .content .skills {
        flex-direction: row;
        justify-content: space-around;
    }


}